[submodule "cmake"]
	path = cmake
	url = https://github.com/staticlibs/cmake.git
[submodule "deps/external_jansson"]
	path = deps/external_jansson
	url = https://github.com/staticlibs/external_jansson.git
[submodule "deps/staticlib_config"]
	path = deps/staticlib_config
	url = https://github.com/staticlibs/staticlib_config.git
[submodule "deps/staticlib_support"]
	path = deps/staticlib_support
	url = https://github.com/staticlibs/staticlib_support.git
[submodule "deps/staticlib_concurrent"]
	path = deps/staticlib_concurrent
	url = https://github.com/staticlibs/staticlib_concurrent.git
[submodule "deps/staticlib_io"]
	path = deps/staticlib_io
	url = https://github.com/staticlibs/staticlib_io.git
[submodule "deps/staticlib_utils"]
	path = deps/staticlib_utils
	url = https://github.com/staticlibs/staticlib_utils.git
[submodule "deps/staticlib_tinydir"]
	path = deps/staticlib_tinydir
	url = https://github.com/staticlibs/staticlib_tinydir.git
[submodule "deps/staticlib_jni"]
	path = deps/staticlib_jni
	url = https://github.com/staticlibs/staticlib_jni.git
[submodule "deps/staticlib_jvmti"]
	path = deps/staticlib_jvmti
	url = https://github.com/staticlibs/staticlib_jvmti.git
[submodule "deps/staticlib_json"]
	path = deps/staticlib_json
	url = https://github.com/staticlibs/staticlib_json.git
[submodule "deps/staticlib_pimpl"]
	path = deps/staticlib_pimpl
	url = https://github.com/staticlibs/staticlib_pimpl.git
[submodule "deps/staticlib_cron"]
	path = deps/staticlib_cron
	url = https://github.com/staticlibs/staticlib_cron.git
